extends ./layout
block bodyContainer
  include ./header
  - fileImporter.importCss(['/statics/novel/stylesheets/item.styl']);
  #contentContainer
    - var novel = viewData.novel;
    - var baseUrl = viewData.baseUrl;
    h1.title #{novel.name}
    .pagesContainer
      - var chapterInfos = novel.chapterInfos;
      each chapterInfo, i in chapterInfos
        - var pageClass = ['page'];
        if Math.floor(i / 5) % 2 === 0
          - pageClass.push('evenPage', 'pageBorderRight');
        a(class=pageClass, target='_blank', href='#{baseUrl}/page/#{i + 1}') #{chapterInfo.title}