

mixin article(data)
  - fileImporter.importCss(['/blog/stylesheets/article.styl', '/common/stylesheets/monokai.styl']);
  .article(data-id='#{data._id}', title='#{data.title}')
    - var authorInfo = data.authorInfo;
    .author #{authorInfo.name}
      img(src='#{authorInfo.profilePic}')
      span.createTime #{data.createdAt}
      .statisticsInfo
        .like(title='喜欢') 喜欢(#{data.like || 0})
        .view(title='浏览') 浏览(#{data.view || 0})
    .info
      - var tags = data.tags
      if tags && tags.length > 0
        .tags
          each tag in tags
            a.tag(href='/tag/#{tag}') #{tag}
      a.title(href='/article/#{data._id}', target='_blank') #{data.title}
    .content !{data.content}
      if data.ellipsis
        p.ellipsis ............（省略
          span #{data.ellipsis}
          | 字）
    if data.readMore
      .behaviorBtns
        a.readMore.btn(href='/article/#{data._id}',  target='_blank') 更多内容...
        a.like.btn(href='javascript:;') 喜 欢

mixin question(data)
  - fileImporter.importCss(['/blog/stylesheets/question.styl', '/common/stylesheets/monokai.styl']);
  .question(data-id='#{data._id}', title='#{data.title}')
    - var authorInfo = data.authorInfo;
    .author #{authorInfo.name}的提问：
      a.title(href='/question/#{data._id}', target='_blank') #{data.title}
      span.createTime #{data.createdAt}
      img(src='#{authorInfo.profilePic}')
    .content !{data.content}
      if data.ellipsis
        p.ellipsis ............（省略
          span #{data.ellipsis}
          | 字）
    if data.readMore
      .behaviorBtns
        a.readMore.btn(href='/question/#{data._id}', target='_blank') 查看问题
mixin comment(data)
  .comment
    - var authorInfo = data.userInfo;
    .author #{authorInfo.name}
      span.createTime #{data.createdAt}
      img(src='#{authorInfo.profilePic}')
    .content !{data.content}