- var recommendations = viewData.recommendations;
if recommendations
  - fileImporter.importCss('/blog/stylesheets/recommendations.styl');
  .recommendationsContainer
    h3 Articles
    ul.recommendations
      each recommendation, i in recommendations
        - var itemClass = ['item'];
        if i === 0
          - itemClass.push('first');
        li(class=itemClass)
          a(href='/article/#{recommendation._id}', target='_blank') #{recommendation.title}
          span.createTime #{recommendation.createdAt}
          | #{recommendation.authorInfo.name}